@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #F9F9F9;
}


.toggle-checkbox:checked+label .toggle-circle {
    transform: translateX(0.8rem);
}

.toggle-checkbox:checked+label .toggle-path {
    background-color: #34C759;
}

.toggle-checkbox+label .toggle-path {
    background-color: #DDDDDD;
}


/* ----->> Slider <<------- */
.login-container {
    display: flex;
}

.slider {
    position: relative;

}

.slides {
    display: flex;
    overflow: hidden;
    position: relative;
}

.slide {
    min-width: 100%;
    transition: transform 0.5s ease-in-out;
}

/* img {
    width: 100%;
    display: block;
} */

.nav-dots {
    text-align: center;
    position: absolute;
    bottom: -40px;
    width: 100%;
}

.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 3px;
    background-color: #DDDDDD;
    border-radius: 50%;
    display: inline-block;
}

.active {
    background-color: #A30133;
}